*{
    margin: 0;
    padding: 0;
}

.menu{
    background-image:url(../Images/pizzatemplate.jpeg) ;
    background-size: cover;
    width: 51rem;
    height: 72rem;
    border: 3px solid #FFECC8;
    margin:0 7rem 0 10rem;
}
.menu-data{
    border: 8px solid #FFFDEC;
    margin: 6.6rem 7.2rem 0 7.2rem;
    background-color: #A66E38;
    height: 59rem;
    color: whitesmoke;
    padding: 0.5rem;
}
#our-menu{
    border-top: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke;
    font-size: 1rem;
    width: 7rem;
    margin: 0 0 0 14rem;
}
.pizza{
    display: flex;
}
.img-data{
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    font-size: 0.95rem;
    border: 1px solid whitesmoke;
    border: hidden;
}
img{
    
    width: 7rem;
    height: 8rem;
}
.data{
    padding: 0.3rem;
    font-family: Playfair Display;
}
.order{
    align-items: end;
}
#button{
    align-items: center;
    margin: 0 20rem 1rem 33rem;
}
#name-pizzabar{
    margin-left: 22rem;
}
#name{
    margin-left: 30rem;
    font-weight: 600;
}

/* profile cards */

.card{
    margin: 0 10rem 0 10rem;
    background-color: antiquewhite;
}

.skil{
    margin: 1rem 0.5rem 1rem 0.5rem;
    width: fit-content;
    display: inline-flex;
    border-radius: 7px;
}
#skill{
    padding: 0rem 0.1rem 0 0.1rem;
}


/* Threestpes */

.steps{
    margin: 1rem 12rem 1rem 12rem ;
    border: 1px solid blue;
    background-color: #F4EDD3;
    
   
}

.numbers{
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-evenly;
}


.buttons{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.message{
    text-align: center;
    width: fit-content;
    margin: 2rem 10rem 2rem 10rem  ;
    align-content: center;

   
    

}

#circle{
    border: 1px solid black;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
}

